.reset-button {
	color: rgb(232, 230, 227);
	cursor: pointer;
	transition: transform 0.2s ease, color 0.2s ease;
	font-size: 14px;
}

.reset-button:hover {
	color: #ff4848;
	transform: scale(1.05);
}

.reset-button:active {
	color: #ff4848;
	background-color: #551212;
	transform: scale(1.1);
}

.upload-button {
	color: rgb(232, 230, 227);
	cursor: pointer;
	transition: transform 0.2s ease, color 0.2s ease;
	font-size: 14px;
}

.upload-button:hover {
	color: #c248ff;
	transform: scale(1.05);
}

.upload-button:active {
	color: #c248ff;
	background-color: rgb(96, 37, 121);
	transform: scale(1.1);
}

@keyframes flash-green {
	0% { color: #00ff6a; }
	100% { color: inherit; }
}

.flash-save {
	animation: flash-green 0.8s ease-out;
}
